// src/styles/variables.scss

$body-font-family: "Roobert", sans-serif;

// Regular
@font-face {
  font-family: "Roobert";
  src: url("@/assets/fonts/Roobert-Regular.woff2") format("truetype"),
    url("@/assets/fonts/Roobert-Regular.woff") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roobert";
  src: url("@/assets/fonts/Roobert-RegularItalic.woff2") format("truetype"),
    url("@/assets/fonts/Roobert-RegularItalic.woff") format("truetype");
  font-weight: 400;
  font-style: italic;
}

// Light
@font-face {
  font-family: "Roobert";
  src: url("@/assets/fonts/Roobert-Light.woff2") format("truetype"),
    url("@/assets/fonts/Roobert-Light.woff") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roobert";
  src: url("@/assets/fonts/Roobert-LightItalic.woff2") format("truetype"),
    url("@/assets/fonts/Roobert-LightItalic.woff") format("truetype");
  font-weight: 300;
  font-style: italic;
}

// Medium
@font-face {
  font-family: "Roobert";
  src: url("@/assets/fonts/Roobert-Medium.woff2") format("truetype"),
    url("@/assets/fonts/Roobert-Medium.woff") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roobert";
  src: url("@/assets/fonts/Roobert-MediumItalic.woff2") format("truetype"),
    url("@/assets/fonts/Roobert-MediumItalic.woff") format("truetype");
  font-weight: 500;
  font-style: italic;
}

// SemiBold
@font-face {
  font-family: "Roobert";
  src: url("@/assets/fonts/Roobert-SemiBold.woff2") format("truetype"),
    url("@/assets/fonts/Roobert-SemiBold.woff") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Roobert";
  src: url("@/assets/fonts/Roobert-SemiBoldItalic.woff2") format("truetype"),
    url("@/assets/fonts/Roobert-SemiBoldItalic.woff") format("truetype");
  font-weight: 600;
  font-style: italic;
}

// Bold
@font-face {
  font-family: "Roobert";
  src: url("@/assets/fonts/Roobert-Bold.woff2") format("truetype"),
    url("@/assets/fonts/Roobert-Bold.woff") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roobert";
  src: url("@/assets/fonts/Roobert-BoldItalic.woff2") format("truetype"),
    url("@/assets/fonts/Roobert-BoldItalic.woff") format("truetype");
  font-weight: 700;
  font-style: italic;
}

// Heavy
@font-face {
  font-family: "Roobert";
  src: url("@/assets/fonts/Roobert-Heavy.woff2") format("truetype"),
    url("@/assets/fonts/Roobert-Heavy.woff") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Roobert";
  src: url("@/assets/fonts/Roobert-HeavyItalic.woff2") format("truetype"),
    url("@/assets/fonts/Roobert-HeavyItalic.woff") format("truetype");
  font-weight: 800;
  font-style: italic;
}

body {
  font-family: $body-font-family;
}
