.data-label {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
}

input {
  border-color: red !important;
}

.text-greyDark {
  color: #686868;
}

.custom-border {
  border-color: #dde2e4 !important;
}

/* .no-padding-content :deep(.v-expansion-panel-text__wrapper) {
  padding: 0 !important;
} */

.no-padding-title :deep(.v-expansion-panel-title) {
  padding: 0 !important;
  min-height: auto !important;
}

/* If you only want to hide but still allow scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Edge */
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE/Edge */
  scrollbar-width: none;
  /* Firefox */
}

.g2a-container-width {
  width: 100%;
  max-width: 1600px !important;
  /* overflow: hidden; */
  padding-left: 55px;
  padding-right: 55px;
}

.g2a-text-11 {
  font-size: 11px;
}

.g2a-text-26 {
  font-size: 26px;
}

.g2a-text-24 {
  font-size: 24px;
}

.g2a-text-22 {
  font-size: 22px;
}

.g2a-text-20 {
  font-size: 20px;
}

.g2a-text-18 {
  font-size: 18px;
}

.g2a-text-16 {
  font-size: 16px;
}

.g2a-text-14 {
  font-size: 14px;
}

.g2a-text-48 {
  font-size: 48px;
}

.g2a-text-32 {
  font-size: 32px;
}

.g2a-text-44 {
  font-size: 44px;
}

.g2a-text-10 {
  font-size: 10px;
}

.g2a-text-9 {
  font-size: 9px;
}

.g2a-text-12 {
  font-size: 12px;
}

.g2a-text-8 {
  font-size: 8px;
}

.g2a-text-13 {
  font-size: 13px;
}

.g2a-text-15 {
  font-size: 15px;
}

.g2a-text-28 {
  font-size: 28px;
}

.no-hover:hover {
  background-color: none !important;
  box-shadow: none !important;
  background-color: none !important;
}

.g2a-text-bold-800 {
  font-weight: 800 !important;
}

.g2a-text-bold-700 {
  font-weight: 700 !important;
}

.g2a-text-bold-600 {
  font-weight: 600;
}

.g2a-text-bold-500 {
  font-weight: 500;
}

.g2a-text-bold-400 {
  font-weight: 400;
}

.black-placeholder input {
  font-size: 15px !important;
}

.black-placeholder ::placeholder {
  color: black !important;
  /* Change to your desired color */
  font-weight: 700 !important;
  opacity: 1 !important;
  font-size: 15px;

  /* Optional: override default opacity */
}

/* Font Styles from  */
.g2a-title {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: -0.64px;
}

.g2a-title-0 {
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
}

.g2a-title-1-light {
  font-size: 28px;
  font-style: normal;
  line-height: 46px;
}

.g2a-title-1 {
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 66px;
}

.g2a-title-2 {
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 66px;
}

.g2a-title-3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 66px;
}

.g2a-title-4 {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
}

.g2a-subtitle-dark {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.g2a-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.g2a-subtitle-0 {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(55, 55, 55) !important;
}

.g2a-subtitle-1 {
  font-size: 16px;
  line-height: 24px;
}

.g2a-subtitle-1-light {
  font-size: 16px;
}

.g2a-subtitle-2-thin {
  font-size: 16px;
  line-height: 20px;
}

.g2a-subtitle-2 {
  font-size: 14px;
}

@media (max-width: 600px) {
  .g2a-subtitle-2 {
    font-size: 12px;
  }

  .black-placeholder ::placeholder {
    font-size: 14px !important;
    /* Optional: override default opacity */
  }

  .black-placeholder input {
    font-size: 14px !important;
    font-weight: 700 !important;
  }
}

.g2a-subtitle-2-light {
  font-size: 14px;
  line-height: 18px;
}

.g2a-subtitle-3 {
  font-size: 12px;
  line-height: 21px;
}

.g2a-subtitle-4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.g2a-text-h1 {
  font-size: 3rem;
  /* 48px */
  font-weight: 300;
  /* Light */
  line-height: 1.167;
  /* 56px */
  letter-spacing: -0.015em;
}

.g2a-text-h2 {
  font-size: 2.25rem;
  /* 36px */
  font-weight: 300;
  /* Light */
  line-height: 1.2;
  /* 43px */
  letter-spacing: -0.008em;
}

.g2a-text-h3 {
  font-size: 1.875rem;
  /* 30px */
  font-weight: 400;
  /* Regular */
  line-height: 1.167;
  /* 35px */
  letter-spacing: 0em;
}

.g2a-text-h4 {
  font-size: 1.5rem;
  /* 24px */
  font-weight: 400;
  /* Regular */
  line-height: 1.235;
  /* 30px */
  letter-spacing: 0.007em;
}

.g2a-text-h5 {
  font-size: 1.25rem;
  /* 20px */
  font-weight: 400;
  /* Regular */
  line-height: 1.334;
  /* 27px */
  letter-spacing: 0em;
}

.g2a-text-h6 {
  font-size: 1rem;
  /* 16px */
  font-weight: 500;
  /* Medium */
  line-height: 1.6;
  /* 26px */
  letter-spacing: 0.007em;
}

.g2a-black-thin {
  color: rgba(0, 0, 0, 0.6);
}

.g2a-text-caption {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.g2a-input-caption {
  color: #666;
  font-size: 13px;
  opacity: 1 !important;
  font-weight: normal;
}

.g2a-input-caption-mobile {
  color: #666;
  font-size: 12px;
  opacity: 1 !important;
  font-weight: normal;
}

.trip-no-text {
  font-size: 13px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #29339b;
}

.g2a-text-caption-1 {
  font-size: 10px;
  /* 10px */
  font-weight: 500;
  /* Medium */
  line-height: 1.66;
  /* 20px */
  letter-spacing: 0.033em;
}

.g2a-text-overline {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0.167em;
  text-transform: uppercase;
}

/* Safe Area Adjustments */
.safe-area-top {
  padding-top: env(safe-area-inset-top);
}

.safe-area-top-m {
  margin-top: env(safe-area-inset-top);
}

.safe-area-bottom {
  padding-bottom: calc(env(safe-area-inset-bottom) + 4px);
}

/* Miscellaneous Utility Classes */
.backdrop-filter {
  backdrop-filter: saturate(180%) blur(20px);
}

.v-btn,
.v-tab {
  text-transform: none;
  letter-spacing: normal;
}

.v-card--link:before {
  background: none;
}

.page {
  overflow: auto;
  height: 100%;
}

.dotted-underline {
  text-decoration: underline dotted;
}

.tail-effect {
  display: inline-block;
  font-weight: bold;
}

.truncate-two-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
  /* For modern browsers */
  -webkit-line-clamp: 2;
  /* For WebKit browsers */
  max-height: 3em;
  /* Adjust for two lines */
  line-height: 1.5em;
}

.g2a-rounded-border {
  border-radius: 10px;
}

.g2a-rounded-border-20 {
  border-radius: 20px;
}

.v-overlay__content.mySelect-menu {
  border-radius: 10px !important;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.11) !important;
}

.v-overlay__content.mySelect-menu > .v-list {
  box-shadow: none !important;
  padding: 0;
}

.g2a-text-bold {
  font-weight: 600;
}

.v-card.v-card--variant-outlined {
  border-color: rgba(0, 0, 0, 0.12);
  /* Same as Vuetify 2 default */
}

/* Responsive Adjustments */
@media (max-width: 600px) {
  .g2a-container-width {
    width: 100%;
    max-width: 600px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .data-label {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.6);
  }

  .g2a-title {
    font-size: 20px;
  }

  .g2a-title-3 {
    font-size: 20px;
    font-weight: 600;
  }

  .g2a-subtitle-0 {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(55, 55, 55) !important;
  }

  .g2a-subtitle-1 {
    font-size: 16px;
  }

  .g2a-subtitle-4 {
    font-size: 16px;
  }

  .g2a-subtitle-1-light {
    font-size: 13px;
  }

  .g2a-subtitle-2-thin {
    font-size: 12px;
    line-height: 18px;
  }

  .g2a-subtitle-2-light {
    font-size: 13px;
    line-height: 16px;
    color: rgb(55, 55, 55) !important;
  }

  .g2a-text-h1 {
    font-size: 2.25rem;
    /* 36px */
  }

  .g2a-text-h2 {
    font-size: 1.75rem;
    /* 28px */
  }

  .g2a-text-h3 {
    font-size: 1.5rem;
    /* 24px */
  }
}
